body, html {
    background-color: #fae1dd;
    font-family: 'Nunito', sans-serif;
}

div {
    padding: 0;
}

.navbar {
    /* background-color: #cdb4db; */
    padding: 0 16px;
    box-sizing: border-box;
}

.navbar > .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}


#nav-link a.nav-link {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

#nav-link a.nav-link:hover {
    color: #EA1C2C;
}

h1 {
    color: #fff;
    font-size: 3.8rem;
    font-weight: 200;
    text-transform: uppercase;
}

#heading span {
    color: #EA1C2C;
}

.museum-text {
    color: #EA1C2C;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3rem;
}

.lorem-text {
    font-size: 1.2rem;
    line-height: 200%;
}

.footer {
    background-color: #edf2f4;
}

.small-line {
    background-color: red;
    height: 3px;
}

.icon {
    font-size: 2rem;
    margin: 8px;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}


@media (max-width: 1160px) {
    h1 {
        font-size: 3rem;
    }

    .lorem-text {
        font-size: 1rem;
        line-height: 200%;
    }

    .museum-text {
        font-size: 2rem;
    }
}